<!--Modal Start-->
<div class="modal hide fade" id="cmtdelmodal{{cmt.id}}" style="display:none;width:300px;left:60%;">
	
	<div class="modal-header" style="text-align:left;">
		<h3>Delete Confirm</h3>
	</div>
	
	<div class="modal-body">
		<p>You want to DELETE this comment?</p>
	</div>
	
	<div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal"
		onclick="Dajaxice.MainSite.deletecomment(Dajax.process,{'cid':{{cmt.id}}})">
			Yes,I do!
		</button>
		<button class="btn" data-dismiss="modal">Cancel</button>
	</div>

</div>
<!--Model End-->