<!--Modal Start-->
<div class="modal hide fade" id="tweetmodal" style="display:none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Something New?</h3>
	</div>
	
	{% include "common/form/status.html" %}
</div>
<!--Model End-->
