<li class="nav-icon-itm">
	<a title="Message" href="/messages/">
		<i class="icon-envelope icon-white">
		</i>
		{% if has_new_message %}
		New!
		{% endif %}
	</a>
</li>

<li>
	<button class="btn btn-primary" href="#tweetmodal" data-toggle="modal">
		<i class="icon-share"></i>
	</button>
</li>
<!--<li class="divider-vertical"></li>-->
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		{{ logged_user.nickname }}
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li><a href="/profile/">Profile</a></li>
		<li class="divider"></li>
		<li><a href="/settings/">Settings</a></li>
		<li><a href="/signout/">Log out</a></li>
	</ul>
</li>