{%if total_page != 0%}
<div class="pagination top-pagination">
	<ul>
		{% if cur_page != 1 %}
		<li>
			<a href="?page={{cur_page|add:"-1"}}">«</a>
		</li>
		{%endif%}
		
		<li {% if cur_page == 1 %}class="active"{%endif%}>
			{% if cur_page == 1 %}
				<a>{{cur_page}}</a>
			{%else%}
				{% if total_page > 2 and cur_page == total_page %}
					<a href="?page={{cur_page|add:"-2"}}">{{cur_page|add:"-2"}}</a>
				{%else%}
					<a href="?page={{cur_page|add:"-1"}}">{{cur_page|add:"-1"}}</a>
				{%endif%}
			{%endif%}
		</li>
		
		{% if total_page >= 2%}
		<li {% if cur_page != 1 %}
				{% if total_page == 2 and cur_page == total_page %}
					class="active"
				{% else %}
					{% if total_page > 2 and cur_page != total_page %}
						class="active"
					{% endif %}
				{% endif %}
			{%endif%}>
			{% if cur_page == 1 %}
				<a href="?page={{cur_page|add:"1"}}">{{cur_page|add:"1"}}</a>
			{%else%}
				{% if total_page > 2 and cur_page == total_page %}
					<a href="?page={{cur_page|add:"-1"}}">{{cur_page|add:"-1"}}</a>
				{%else%}
					<a>{{cur_page}}</a>
				{%endif%}
				
			{%endif%}
		</li>
		{%endif%}
		
		{% if total_page >= 3 %}
		<li {% if cur_page == total_page%}class="active"{%endif%}>
			<a href="#">
				{% if cur_page == total_page %}
					<a>{{cur_page}}</a>
				{% else %}
					{% if cur_page == 1 %}
						<a href="?page={{cur_page|add:"2"}}">{{cur_page|add:"2"}}</a>
					{% else %}
						<a href="?page={{cur_page|add:"1"}}">{{cur_page|add:"1"}}</a>
					{%endif%}
				{% endif %}
			</a>
		</li>
		{%endif%}
		
		{% if cur_page != total_page %}
		<li>
			<a href="?page={{cur_page|add:"1"}}">»</a>
		</li>
		{%endif%}
	</ul>
</div>
{%endif%}
