
{% if act_edit_tips %}
<p>
	{%if act_edit_saved %}
	<div class="alert alert-success">
	{%else%}
	<div class="alert alert-error">
	{%endif%}
		{{ act_edit_tips }}
	</div>
</p>
{%endif%}

<form class="form-horizontal" action="{{action}}" method="POST">
	{% csrf_token %}
	<fieldset>
		
		{% for field in actform %}
		
		<div class="control-group">
			<label class="control-label" style="width:80px;">
				{{ field.label }}
			</label>
			<div class="controls" style="margin-left:100px;">
				{% if field.label == 'URL' %}
					<div class="input-prepend">
						<span class="add-on">http://</span>
						{{ field }}
					</div>
				{% else %}
					{{ field }}
				{% endif %}
				<p class="help-block">{{ field.help_text }}</p>
				<p class="help-block">
					<font color="#FF0000">{{ field.errors }}</font>
				</p>
			</div>
		</div>
			
		{% endfor %}

		<div class="form-actions">
			<button class="btn btn-primary" type="submit" style="margin:5px;">Save</button>
		</div>
	</fieldset>
</form>