<form class="form-horizontal" action="{{act_address}}comment/" method="POST">
{% csrf_token %}
	<fieldset>
		{{cmtform.author}}
		{{cmtform.activity}}
		<div class="control-group">
			{{cmtform.content}}
			{% if show_error %}
			<p class="help-block">
				<font color="#FF0000">{{ cmtform.content.errors }}</font>
			</p>
			{% endif %}
		</div>
		<button class="btn btn-primary" type="submit">Post</button>
	</fieldset>
</form>