<form class="form-horizontal" action="/signin/" method="POST">
	{% csrf_token %}
	<fieldset>
		{% comment %}
		<input class="input-large" type="TEXT" name="email" style="margin-top:10px;" placeholder="Email Address">
		<input class="input-large" type="PASSWORD" name="password" style="margin-top:10px;" placeholder="Password">
		{% endcomment %}
		
		{{ inform.email}}
		<p class="help-block"><font color="#FF0000">{{ inform.email.errors }}</font></p>
		{{ inform.password}}
		<p class="help-block"><font color="#FF0000">{{ inform.password.errors }}</font></p>
		
		<label class="help-inline">
			<a href="#">Forgotton password?</a>
		</label>
		</br></br>
		{{ inform.remember }}Remember me?
		<button class="btn btn-primary" type="submit" style="float:right">Login</button>
	</fieldset>
</form>