<form class="form-horizontal" action="/messages/" method="POST" style="margin-top:10px;">
	{% csrf_token %}
	<fieldset>
		{% for field in msgForm %}
		
		<div class="control-group">
			<label class="control-label" style="width:100px;font-size:15px;">
				{{ field.label }}
			</label>
			<div class="controls" style="margin-left:100px;">
				{{ field }}
				<p class="help-block">{{ field.help_text }}</p>
				<p class="help-block">
					<font color="#FF0000">{{ field.errors }}</font>
				</p>
			</div>
		</div>
			
		{% endfor %}
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit">Send</button>
		</div>
	</fieldset>
</form>