<form class="form-horizontal" action="{{act_address}}vote/" method="POST">
{% csrf_token %}
	<fieldset>
		{{voteform.user}}
		{{voteform.activity}}
		<button class="btn btn-success btn-large" type="submit">Vote for it!</button>
	</fieldset>
</form>