{% extends "activity/base_activity.html" %}

{% block activity_main %}

	<div class="cf act">
		<div class="cf-head">
		
			{% if is_act %}
				What {{show_user.nickname}} has Marked
			{% endif %}
			
			{% if is_myfav %}
				What you has Marked
			{% endif %}
		
		</div>
		
		{% include "activity/utils/activity_list.html" %}
		
	</div>

{% endblock %}

{% block script %}
<script src="{{ STATIC_URL }}together/js/scrollpagination.js"></script>

<script type="text/javascript">
$(function(){
	$('.act-inner').scrollPagination({
		'loader': function(){
			Dajaxice.MainSite.activity_fav(
				Dajax.process, 
				{'offset':$('.act-inner').children().length,
				 'user_id':{{show_user.id}},});
		}, 
		'scrollTarget': $(window), 
		'heightOffset': 50, 
		'beforeLoad': function(){
			$('#loading').fadeIn();
		},
	});   
});

function afterload(data){
	$('#loading').fadeOut();
	$('.act-inner').startScrollPagination();//unlock
	if (data.count < 10){
		$('.act-inner').stopScrollPagination();
		//alert("No more!");
	}
}

</script>
{% endblock %}