{% extends "activity/base_activity.html" %}
{% load markup %}



{% block activity_main %}
<!--Activity Detail Start-->
<div class="cf-text">
	<div class="cf-head" style="height:50px;">
		<div class="cf-caption">
			{{ show_activity.title }}
			<br />
			<a href="http://{{ show_activity.url }}" class="activity-url">
				{{ show_activity.url }}
			</a>
			{%include "activity/utils/favourite.html"%}
		</div>
	</div>
	<div class="activity-news-title">
		What's New?
	</div>
	<div class="activity-news">
		{{ show_activity.news|linebreaks }}
	</div>
	<div class="activity-detail-title">
		Activity Description
	</div>
	<div class="activity-detail">
		{{ show_activity.content|safe|markdown }}			
	</div>
	<div class="activity-needs">
		<p class="activity-location">
			<span><i class="icon-map-marker"></i> Location:</span>
			{{ show_activity.location }}
		</p>
		<p class="activity-duration">
			<span><i class="icon-time"></i> Duration:</span>
			{{ show_activity.start_time }} -- 
			{% if show_activity.has_endtime %}
				{{ show_activity.end_time }}
			{% else %}
				No ending
			{% endif %}
		</p>
	</div>
	<div class="cf-foot">
		<div class="cf-foot-inner">
			<p class="activity-tag">
				<span><i class="icon-tags"></i> Tags:</span>
				{{ show_activity.tags }}
			</p>
			{# Judge whether current user has right to delete or edit the content. #}
			{% if show_activity.creator_id == logged_user.id or logged_user.is_admin %}
			{%include "activity/utils/deletemodal.html"%}
			<p class="activity-op">
				<a title="Edit" href="/activities/{{show_activity.id}}/edit/">
					<i class="icon-pencil"></i>
				</a>
				<span>
				<a title="Delete" href="#deletemodal" data-toggle="modal">
					<i class="icon-trash"></i>
				</a>
				</span>
			</p>
			{%endif%}
		</div>
	</div>
</div>
<!--Activity Detail End-->
<!--Comments Start-->
{%include "common/utils/comment.html"%}
<!--Comment End-->
{% endblock %}

{% block act_side_style %}
margin-top:20px; margin-right:10px; margin-left:10px;
{% endblock %}

{% block activity_side %}
				
{% include "activity/utils/member.html"%}

{% include "activity/utils/vote.html" %}

{% include "activity/utils/avatar_list.html" %}


<div class="cf-block bd-round-blue-light">
	<div class="cf-head cf-head-color">
		Similar Activities
	</div>
	<div class="cf-block-content">
		<div class="cf-block-inner">
			<div class="similar-act-itm">
				<a href="#">Another Together</a>
			</div>
			<div class="similar-act-itm">
				<a href="#">Yet Together</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}

