{% extends "activity/base_activity.html" %}

{% block activity_main %}
	
	{%if alert %}
	<div class="alert alert-{{alert|first}}">
		<a class="close" data-dismiss="alert" href="#">×</a>
		{{alert|last}}
	</div>
	{%endif%}
	
	<div class="cf act">
		<div class="cf-head">
		{% include "activity/utils/activity_nav.html"%}
		</div>
		
		{% include "activity/utils/activity_list.html" %}
		
	</div>

{% endblock %}


{% block act_side_style %}
margin-top:20px; margin-right:10px; margin-left:10px;
{% endblock %}

{% block activity_side %}

<div class="center" style="margin:10px">
	<a href="/activities/new/">
		<button class="btn btn-success btn-large" type="submit">Post Your Activity</button>
	</a>
</div>

<div class="cf-block bd-round-blue-light">
	<div class="cf-head" style="background:white;">
		<h4>Tags</h4>
	</div>
	<div class="cf-block-content">
		<div class="cf-block-inner">
			Project, C++, C, Python
		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<script src="{{ STATIC_URL }}together/js/scrollpagination.js"></script>

<script type="text/javascript">
$(function(){
	$('.act-inner').scrollPagination({
		'loader': function(){
			Dajaxice.MainSite.activity_list(
				Dajax.process, 
				{'offset':$('.act-inner').children().length,
				 'order':'{{order}}',});
		}, 
		'scrollTarget': $(window), 
		'heightOffset': 50, 
		'beforeLoad': function(){
			$('#loading').fadeIn();
		},
	});   
});

function afterload(data){
	$('#loading').fadeOut();
	$('.act-inner').startScrollPagination();//unlock
	if (data.count < 10){
		$('.act-inner').stopScrollPagination();
		//alert("No more!");
	}
}

</script>
{% endblock %}