{% extends "activity/base_activity.html" %}

{%block link%}
{{ actform.media }}
<link href="{{ STATIC_URL }}together/css/ui-lightness/jquery-ui-1.8.20.custom.css" rel="stylesheet">
{%endblock%}

{%block script%}
<script src="{{ STATIC_URL }}together/js/jquery-ui-1.8.20.custom.min.js"></script>
<script src="{{ STATIC_URL }}together/js/jquery-ui-timepicker-addon.js"></script>

<script language="javascript">
	$('#id_start_time').datetimepicker();
	$('#id_end_time').datetimepicker();
</script>

{%endblock%}

{% block leftside %}

<div class="span7" style="margin-top:20px; margin-left:10px;" >
	<div class="cf-text">
	<div class="cf-head">
		<div class="cf-caption">
			Edit Activity
		</div>
	</div>
	<div class="cf-itm cf-itm-last">
		{% include "common/form/activity.html" %}
	</div>
</div>
</div>

{% endblock %}
