* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 100px; /* .push must be the same height as .footer */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

/*
 * For layout
 * */


/*
 * For common list.
 * */
.cf, .cf-head, .cf-text {
	overflow: hidden;
}

.cf, .cf-text {
	background-color: #FFFFFF;
}

.cf, .cf-text {
	padding-bottom: 12px;
	margin-bottom: 12px;
	border: 1px solid #A8E2F8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	position: relative;
}
.cf-head {
	padding: 8px;
	border-bottom: 1px solid #CCEEFB;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-ms-border-top-left-radius: 4px;
	-o-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	font-size: 14px !important;
}

.activity-url {
	color: #4AC0EE;
	font-size: 12px;
	font-weight: normal;
}

.cf-foot {
	border-top: 1px solid #CCEEFB;
}

.cf-head, .cf-foot {
	font-size: 13px;
	line-height: 22px;
	text-indent: 0;
}

.cf-head-color {
	background-color:#08C;/*#2E2E2E;*/
	color:white;
}

.cf-foot-inner {
	width: 100%
	height: 20px;
	line-height: 20px;
	margin: 8px 12px 0px;
}

.cf-caption {
	font-size: 18px;
	line-height: 20px;
}

.cf-itm {
	color: #4C4C4C;
	position: relative;
	border-top: 1px solid white;
	border-bottom: 1px solid #CCEEFB;
	padding: 12px 12px 0px 12px;
	background-color: #F7FDFF;
}

.cf-itm-last {
	border-bottom: 0px !important;
}

.title-corner {
	position: absolute;
	right: 12px;
	top: 8px;
}

.fav-ico {
	position: relative;

}

.fav-count {
	/*position: absolute;
	top: 20px;
	width: 20px;*/
	text-align: center;
	color: #4AC0EE;
	font-size: 12px;
	font-weight: normal;
}

/*
 *Error page
 * */
.error-page {
	margin:30px
}

.error-page .heading {
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: 200;
}

.error-page .lead {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 200;
	color: #999;
}


/*
 * For user profile
 * */

.prof-basic, .prof-info-spl, .prof-basic, .prof-title, .prof-basic, .prof-blog {
	color: #4AC0EE;
	font-size: 12px;
	font-weight: normal;
}

.prof-basic {
	background-color: #FAFEFF;
	border: 1px solid #A8E2F8;
	overflow: hidden;
	padding: 10px; 
	margin-bottom: 10px;
	position: relative;
}

.prof-basic, .prof-avatar {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.prof-avatar {
	float:left
}

.prof-info {
	margin-left: 10px;
	width: 380px;
	float: left;
	position:relative;
}

.prof-info, .prof-detail {
	float: left;
	color: #1F3F76;
	font-weight: bold;
	font-size: 16px;
}

.prof-info, .prof-basic-btns {
	position: relative;
	top: -2px;
}

.prof-title {
	margin-top: 15px;
	margin-right: 20px;
}

.sep {
	font-size:18px;
	color:#4ac0ee;
	padding:0px 8px;
}

.prof-info-head, .blk
{
	float:left
}

.prof-info-head {
	position:relative;
	width:200px;
}

.desc{
	float:left;
	font-size:15px;
	color:#ccc;
	width:300px;
	font-weight:normal;
}

.prof-right {
	color: #1B75BB;
	font-size:15px;
	position: absolute;
	bottom: 20px;
	right:20px;
	font-weight:normal;
}

/*
 * For personal profile and message
 * */
/*personal profile*/
.pp-head, .msg-head {
	background: #EEFAFE;
	line-height: 30px;
	border-bottom: 1px solid #CCEEFB;
	font-size: 13px;
	color: #1B75BB;
	text-indent: 12px;
}

.pp-top-head, .msg-top-head {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-ms-border-top-left-radius: 4px;
	-o-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	border-top-right-radius: 4px;

}

.pp-content {
	background-color: #FAFEFF;
	position: relative;
	border-bottom: 1px solid #CCEEFB;
}

.pp-content-inner {
	padding: 12px;
	min-height: 20px;
	font-color: #336286;
	overflow: hidden;
}

/*message*/

.msg-head {
	min-height: 40px;
	font-size: 13px;
}

.msg-new {
	float: right;
	margin: 5px;
}


.msg-inner {
	background: #F7FDFF;
	margin-bottom: 2px;
	padding-bottom: 12px;
}


.msg-breadcrum {
	padding: 15px;
	padding-bottom: 0px;
	border-bottom: 1px solid #D8F1FC;
}

.msg-itm {
	position: relative;
	border-bottom: 1px solid #D8F1FC;
	padding: 12px;
}

.msg-itm:hover {
	background-color: #E4FFF7;
}

.msg-itm-photo {
	position: relative;
	float:left
}

.msg-itm-desc {
	margin-left: 60px;
	width: 500px;
}

.msg-itm-user {
}

.msg-itm-text {
	line-height: 18px;
	margin-top: 5px;
	font-size: 16px;
}

.msg-itm-date {
	color: #1B75BB;
	margin-top: 10px;
}

.msg-itm-info {
	position: absolute;
	bottom: 10px;
	right: 10px;
	float: right;
	font-size: 10px;
	color: #1B75BB;
}

.msg-itm-op {
	position: absolute;
	top: 10px;
	right: 10px;
	float: right;
	color: #1B75BB;
}

.msg-itm-new {
	position: absolute;
	bottom: 30px;
	right: 30px;
	float: right;
}
/*
 * For user index
 * */
.index-tab {
	margin-left:10px;
	border-bottom:1px solid #ddd;
}

.index-tab-wrapper {
	margin-top:20px;
	margin-left:5px;
	margin-right:5px;
}


/*
 * For comment.
 * */
.act {
	padding-bottom: 0px;
}
.act-inner {
	background: #F7FDFF;
	margin-bottom: 2px;
	padding-bottom: 12px;
}

.act-inner::after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.act-itm {
	position: relative;
	border-bottom: 1px solid #D8F1FC;
	padding: 12px;
}

.act-itm:hover {
	background-color: #E4FFF7;
}

.act-itm-photo {
	float:left
}

.act-itm-desc {
	margin-left: 60px;
	width: 500px;
}

.act-itm-title {
}

.act-itm-text {
	line-height: 18px;
	margin-top: 5px;
	word-wrap: break-word;
}

.act-itm-date {
	margin: 5px 0px;
	right: 10px;
	top: 5px;
}

.act-itm-right {
	position: absolute;
	right: 17px;
	top: 12px;
}



/*
 * For comment.
 * */
.cmt {
	padding-bottom: 0px;
}
.cmt-inner {
	background: #F7FDFF;
	margin-bottom: 2px;
	padding-bottom: 12px;
}

.cmt-inner::after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.cmt-itm {
	position: relative;
	border-bottom: 1px solid #D8F1FC;
	padding: 12px;
}

.cmt-itm:hover {
	background-color:#E4FFF7;
}

.cmt-itm-last {
	border-bottom: 0px !important;
}


.cmt-itm-photo {
	float:left
}

.cmt-itm-desc {
	margin-left: 50px;
	width: 500px;
}

.cmt-itm-from {
}

.cmt-itm-text {
	line-height: 18px;
	margin-top: 5px;
	word-wrap: break-word;
}

.cmt-itm-date {
	margin: 5px 0px;
	position: absolute;
	right: 10px;
	top: 5px;
}

.cmt-itm-op {
	position: absolute;
	bottom: 5px;
	right: 5px;
	float: right;
	font-size: 10px;
	color: #1B75BB;
}

.cmt-itm .cmt-itm-op:hover {
	visibility: visible;
}

.cmt-rpl-inner {
	margin-left: 10px;
	width: 600px;
}

.top-pagination {
	position: absolute;
	right: 5px;
	top: -15px;
	float:right;
}

/*
 * For side block.
 * */
.cf-block {
	background: white;
	margin: 0px 0px 12px 0px;
	overflow: hidden;
}

.cf-block-inner {
	margin:0px 10px 10px 10px
}

.cf-block-content {
	position:relative;
	padding:0px 0px 10px 0px;
	background-color:#fff;
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px
}

.bd-round-blue-light {
	border: 1px solid #A8E2F8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	background-color: white;
}

/*
 * For vote block
 * */
.vote-head, .vote-label {
	margin: 10px 0 0 10px;
	display: inline-block;
}

.vote-head, .vote-header-inner {
	margin: 10px auto;
	text-align: center;
	display: block;
}

.vote-number {
	color: #4C4C4C;
	height: 40px;
	font-size: 40px;
	text-align: center;
}

.vote-word {
	font-size: 16px;
	font-weight: 600;
	color: #E97B23;
	text-align: center;
}

/*
 * For Group block
 * */

.group-inner {
	margin: 0px !important;
}

.group-itm {
	position: relative;
	overflow: hidden;
	/*float: left;*/
	text-align: center;
	width: 100%;
	border-right: 0;
	border-top: 1px solid white;
	border-bottom: 1px solid #CCEEFB;
	padding:0px 0px 0px 0px !important;
}

.group-photo {
	width: 60px;
	margin: 5px 5px 5px 10px;
	float: left;
}

.group-detail {
	text-align: left;
	width: 150px;
	margin:5px;
	float: left;
}

.group-mem-name {
}

.group-desc {
	color: #1B75BB;
	font-size: 11px;
	line-height: 15px;
	min-height: 24px;
}

/*
 * For user Avatar list
 * */

.user_avatar_list {
	overflow: hidden;
	clear: both;
}

.user_avatar_itm {
	margin-top: 10px
}

/*
 * For similar activity
 * */

.similar-act-itm {
	margin: 14px 14px 16px 14px;
	clear: both;
}

/*
 * For my status
 * */
.status-title {
	width: 134px;
	height: 50px;
	background-color: #41C005;
	float: left;
	text-align: center;
}

.status-title:hover {
	background-color: #5BD321;
}

.status-title-wrapper {
	width: 100%;
	margin: 0px 0px;
	height: 50px;
	float: left;
	text-align: center;
	/*cursor: pointer;*/
}

.status-title-num {
	font-size: 24px;
	color: #FFF600;
	display: block;
	margin: 12px 0 0;
	/*text-shadow: 0 -1px 0 #789E1E;*/
}

.status-title-num:hover {
	color:#FFF94C;
}

a.status-title-num:hover {
	color: #FFF600;
	text-decoration: none;
}

.status-title-txt {
	font-size: 12px;
	font-weight: 600;
	color: white;
	text-shadow: 0 -1px 0 #789E1E;
}

/*
 * For Activity Detail presentation.
 * */
.activity-news {
	border-bottom: 1px solid #CCEEFB;
	}

.activity-detail, .activity-updates, .activity-news {
	line-height: 170%;
	word-wrap: break-word;
	padding: 8px 22px;
	background-color: #FFFFFF;
}

.activity-news-title, .activity-detail-title {
	font-size: 14px;
	color: #1B75BB;
	font-weight: bold;
	display: block;
	padding: 8px 8px 0px;
}

.activity-needs {
	display: table;
	width: 100%;
	padding: 8px 12px 8px;
	border-top: 1px solid #CCEEFB;
	background: #F7FDFF;
}

.activity-location, .activity-duration, .activity-tag {
	float: left;
	font-size: 14px;
	color: #1B75BB;
	width: 300px;
}

.activity-location span, .activity-duration span, .activity-tag span {
	display: block;
	font-weight: bold;
}

.activity-op {
	position: absolute;
	bottom: 10px;
	right: 10px;
	float: right;
	font-size: 10px;
	color: #1B75BB;
}

.mark-down {
	color: #444;
	line-height: 1;
	padding: 10px;
	overflow: hidden;
	font-size: 12px;
}


/*
 * Utility
 * */
.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

img {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

/*
 * Some overwrite on Bootstrap
 * */

.pagination a {
  float: left;
  padding: 0 /*14px*/10px !important;
  line-height: /*34px*/30px !important;
  text-decoration: none;
  border: 0px solid #ddd !important;
  border-left-width: 0;
}
/*.pagination a:hover,*/
.pagination .active a {
  background-color: /*#f5f5f5*/#2E2EFE;
}
.pagination .active a {
  color: /*#999999*/white;
  cursor: default;
}

ul {
	list-style: none !important;

}

.nav-icon-itm {
	/*position: relative;*/
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 0px;
	margin-right: 5px;
	margin-left: 5px;
	height: 30px;
	cursor: pointer;
}

.nav-icon-itm > a{
	padding:0 !important;
}

.nav-icon-itm:hover{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	background-color: #222;
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* css for loader */
.loading {
	padding:5px 10px;
	text-align:center;
	width:450px;
	margin:0px auto;
	display:none;
	border-radius: 5px;
}
