{% extends "base.html" %}


{% block container_style %}
style="background-color:#E6E6E6;"
{% endblock %}

{% block leftside %}

<div class="span7" style="margin-top:20px; margin-left:10px;" >
	{% block user_info %}
	
	{% include "user/utils/info.html" %}
	
	{% endblock %}

	{% block user_news %}{% endblock %}
</div>	
{% endblock %}

{% block rightside %}

<div class="span3" style="margin-top:20px; margin-right:10px; margin-left:10px;">
	{% block latest_activity %}
	<div class="cf-block bd-round-blue-light">
		<div class="cf-head cf-head-color">
			At a Glance
		</div>
		<div class="cf-block-content">
			<div class="cf-block-inner">
				<div class="cf-itm">
					<p>{{ latest_activity_title }}</p>
					<p>{{ latest_activity_creator }}</p>
				</div>
				<div class="cf-itm cf-itm-last" >
					{{ latest_activity_detail }}
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
	
	{%include "user/utils/statistic.html"%}
	
	{% block otherside %}
	<div class="center" id="invitation-btn">
		<a href="#" >
			<button class="btn btn-info btn-large" type="submit">Get Invitation</button>
		</a>
	</div>
	{% endblock %}
</div>

{% endblock %}