{% extends "user/base_user.html" %}
{% load gravatar %}

{% block user_news %}
<div class="cf">
	<div class="index-tab-wrapper">
		<ul class="nav nav-tabs">
			<li {%if is_network%}class="active"{%endif%}>
				<a href="/network/">Network</a>
			</li>
			<li {%if is_activity%}class="active"{%endif%}>
				<a href="#activity">Activity News</a>
			</li>
			<li {%if is_profile%}class="active"{%endif%}>
				<a href="/profile/">Profile</a>
			</li>
		</ul>
		{% if is_network %}
			{%include "user/utils/network.html"%}
		{%else%}
			{% if is_profile %}
				{%include "user/utils/profile.html"%}
			{%endif%}
		{%endif%}
	</div>
</div>

{% endblock %}
