<!--Modal Start-->
<div class="modal hide fade" 
	id="messagemodal" style="display:none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3 style="color:#000000;">Send Message</h3>
	</div>
	
	{% include "common/form/message.html" %}
</div>

<!--Model End-->