<div class="cf-block bd-round-blue-light">
		<div class="cf-block-content">
			<div class="status-title-wrapper">
				<div class="status-title">
					<a class="status-title-num" href="/users/{{show_user.id}}/favourites/">
						{{ user_like }}
					</a>
					<div class="status-title-txt">I like it!</div>
				</div>
				<div class="status-title">
					<a class="status-title-num" href="/users/{{show_user.id}}/joins/">
						{{ user_in }}
					</a>
					<div class="status-title-txt">I'm in it!</div>
				</div>
			</div>
		</div>
</div>