{% load i18n %}
{% load url from future %}
{% load dajaxice_templatetags %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		
		<title>{% block title %}Together{% endblock %}</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="{{ STATIC_URL }}together/css/bootstrap.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}together/css/together.css" rel="stylesheet">
		{% block link %}{% endblock %}
		<style>
			body {
				padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	</head>

	<body>
		{% if is_logged %}
			{% include "common/utils/modal.html" %}
		{% endif %}
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Together</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li {%if is_home%}class="active"{%endif%}><a href="/home/">Home</a></li>
							<li {%if is_act%}class="active"{%endif%}><a href="/activities/">Activity</a></li>
							{% if is_logged %}
								<li {%if is_myact%}class="active"{%endif%}>
									<a href="/joins/">My Activity</a>
								</li>
								<li {%if is_myfav%}class="active"{%endif%}>
									<a href="/favourites/">My Favourite</a>
								</li>
							{% endif %}
						</ul>
						<ul class="nav pull-right">
						
						<!--<li class="divider-vertical"></li>-->
						{% block nav_right %}
						{% if is_logged %}
							{% include "common/utils/nav_right_logged.html" %}
						{% else %}
							{% include "common/utils/nav_right_unlogged.html" %}
						{% endif %}
						{% endblock %}
						
						<form class="navbar-search">
							<input type="text" class="search-query" placeholder="Search" style="width:100px;">
						</form>
						</ul>
					</div><!--/nav-collapse -->
				</div>
			</div>
		</div><!-- navbar -->

		<div class="container" {% block container_style %}{% endblock %} >
			{% block topside %}{% endblock %}
			{% block leftside %}{% endblock %}
			{% block rightside %}{% endblock %}
			{% block bottomside %}{% endblock %}
		</div> <!-- /container -->
		
		{% block footer %}
		<footer class="container" style="text-align:center;  border-top:1px solid #ddd">
			<br/>
			<p>&copy 2012 Together All rights reserved.</p> 
		</footer>
		{% endblock %}<!--/footer-->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}together/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}together/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}/dajax/jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>
    {% dajaxice_js_import %}
    
    {% if not is_logged %}
	<script language="text/javascript">
		$('.dropdown-toggle').dropdown();
		$('.dropdown-menu').find('form').click(function (e) {
			e.stopPropagation();
		});
	</script>
	{% endif %}
	
	{% block script %}{% endblock %}
	</body>
</html>
