{%extends "base.html"%}

{% block container_style %}
style="background-color:#E6E6E6;"
{% endblock %}

{% block leftside %}

<div class="span7" style="margin-top:20px; margin-left:10px;" >
	<!--Activity Detail Start-->
	<div class="cf-text">
		<div class="error-page">
			<h1 class="heading">{%block error_header%}{{head}}{%endblock%}</h1>
			<p class="lead">
				{%block error_content%}
				{{content|safe}}
				{%endblock%}
			</p>
		</div>
	</div>
	<!--Activity Detail End-->
</div>

{% endblock %}