{%extends "setting/base_setting.html"%}

{%block setting_title%}
	Setting
	<ul class="nav nav-pills" style="float:right; font-size:13px; margin-bottom:0px;">
		<li {%if is_password%}class="active"{%endif%}>
			<a href="/settings/password/">Passsword Change</a>
		</li>
		<li {%if is_notify%}class="active"{%endif%}>
			<a href="/settings/notifications/">Notification</a>
		</li>
	</ul>
{%endblock%}

{%block setting_main%}

	
	
	{%if is_password%}
		{%include "common/form/chgpwd.html"%}
	{%else%}
		{%if is_notify%}
			
		{%endif%}
	{%endif%}
		

{%endblock%}