{% load gravatar %}


<div class="act-inner">
{% for activity, creator in activity_list %}
<div class="act-itm">
	<a href="/users/{{ creator.id }}/" class="act-itm-photo" >
		<img alt="{{ creator.nickname }}" 
			  source="{% get_gravatar_for_email creator.email 50 "g" %}"
		      src="{% get_gravatar_for_email creator.email 50 "g" %}"
		      title="{{ creator.nickname }}">
	</a>
	<div class="act-itm-desc">
		<div class="act-itm-title">
			<a href="/activities/{{activity.id}}/">
				<font size="3px">{{ activity.title }}</font>
			</a>
		</div>
		<div class="act-itm-text">
			<a href="/users/{{creator.id}}/">{{ creator.nickname }}</a>
			created at {{ activity.creat_time }}
		</div>
		<div class="act-itm-date">
			Duration: {{ activity.start_time }} -- 
			{% if activity.has_endtime %}
				{{ activity.end_time }}
			{% else %}
				No ending
			{% endif %}
		</div>
	</div>
	<div class="act-itm-right">
		<h3>{{ activity.vote }} <small>Votes</small></h3>
	</div>
</div>
{% endfor %}
</div>
<div class="loading" id="loading">
	<img alt="loading" src="{{ STATIC_URL }}together/img/ajax-loader.gif" />
</div>
