<ul class="nav nav-pills" style="margin-bottom:0px;">
	<li {%if order == "latest"%}class="active"{%endif%}>
		<a href="?order=latest">Latest</a>
	</li>
	<li {%if order == "popular"%}class="active"{%endif%}>
		<a href="?order=popular">Popular</a>
	</li>
	<li {%if order == "vote"%}class="active"{%endif%}>
		<a href="?order=vote">Vote</a>
	</li>
	<li style="float:right;" {%if order == "ongo"%}class="active"{%endif%}>
		<a href="?order=ongo">On go</a>
	</li>
	<li style="float:right;" {%if order == "notyet"%}class="active"{%endif%}>
		<a href="?order=notyet">Not yet</a>
	</li>
</ul>