{% load gravatar %}


<div class="cf-block bd-round-blue-light">
	<div class="cf-head cf-head-color">
		Vote contributor
	</div>
	<div class="cf-block-content">
		<div class="cf-block-inner">
			<div class="user_avatar_list" id="avatar_list">
				{% for voter in voters %}
					<a href="/users/{{voter.id}}/">
		    			{%get_img_for_user voter 40 "g" "user_avatar_itm"%}
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>