<div class="title-corner">
	<span class="fav-ico">
		<a href="javascript:void(0)" 
		onclick="Dajaxice.MainSite.favourite(Dajax.process,{'aid':{{show_activity.id}}});">
			{%if is_fav%}
				<img alt="Marked" id="fav" 
				src="{{ STATIC_URL }}together/img/follow.gif" 
				title="UnMark">
			{%else%}
				<img alt="UnMarked" id="fav" 
				src="{{ STATIC_URL }}together/img/unfollow.gif" 
				title="Mark">
			{%endif%}
		</a>
		<div class="fav-count">
			<a href="#" id="fav-count">{{show_activity.popular}}</a>
		</div>
	</span>
</div>