{% load gravatar %}
{% load user %}

<div class="cf-block-inner group-inner" id="member_list">
	{%for member in members %}
		<div class="cf-itm group-itm">
			<div class="group-photo">
				<a href="/users/{{member.id}}/">
				{%get_img_for_user member 60 "g" %}
				</a>
			</div>
			<div class="group-detail">
				<h4 class="group-mem-name">
					<a href="/users/{{member.id}}/">
						{{member.nickname}}
					</a>
					{%if member.id == show_activity.creator_id%}
						(Creator)
					{%endif%}
				</h4>
				<p class="group_desc">
					{{member.city}}, {%get_fullname_for_country member.country%}
				</p>
			</div>
		</div>
	{%endfor%}
</div>