<div class="cf-block bd-round-blue-light">
	<div class="cf-head cf-head-color" >
		Group
		{% if show_activity.is_alone %}
		(Single Activity)
		{% endif %}
	</div>
	<div class="cf-block-content">
		{% include "activity/utils/member_list.html"%}
	</div>
	<div class="center" style="margin-bottom:10px">
	
	{% if show_activity.is_alone %}
		<button class="btn btn-success btn-large disabled">
			Count Me In!
		</button>
	{% else %}
		{%include "activity/utils/joinmodal.html"%}
	
		<button class="btn btn-success btn-large " href="#joinmodal" data-toggle="modal">
			Count Me In!
		</button>
	{% endif %}
	</div>
</div>