{% extends "message/base_message.html" %}
{% load gravatar %}

{% block breadcrum %}

<div class="msg-breadcrum">
	<ul class="breadcrumb">
  		<li>
    		<a href="/messages/">Messages</a> <span class="divider">/</span>
  		</li>
  		<li class="active">
    		{{ contact.nickname }}
  		</li>
	</ul>
</div>

{% endblock %}


{% block messagebox %}

{% for contact, msg in messages %}

<div class="msg-itm">
	<div class="msg-itm-photo">
		<a href="/users/{{ contact.id }}/"  >
			<img alt="{{ contact.nickname }}" 
  			source="{% get_gravatar_for_email contact.email 50 "g" %}"
   			src="{% get_gravatar_for_email contact.email 50 "g" %}"
   			title="{{ contact.nickname }}">
		</a>
	</div>
	<div class="msg-itm-desc">
		<div class="msg-itm-user">
			<a href="/users/{{contact.id}}/">
				<font size="3px">{{ contact.nickname }}</font>
			</a>
		</div>
		<div class="msg-itm-text">
			{{ msg.content }}
		</div>
		<div class="msg-itm-date">
			{{ msg.send_date }}
		</div>
	</div>
	<div class="msg-itm-op">
		<i class="icon-trash"></i>
	</div>
</div>

{% endfor %}

{% endblock%}