{% extends "base.html" %}

{% block title %}
Together
{% endblock %}

{% block nav_right %}
{% if is_logged %}
	{% include "common/utils/nav_right_logged.html" %}
{% else %}
	{% include "common/utils/nav_right_unlogged.html" %}
{% endif %}
{% endblock %}

{% block topside %}
<div class="span9 " style="border-bottom:1px solid #eee; padding-bottom:30px;">
	<div class="carousel" id="index-carousel">
		<div class="carousel-inner">
			<div class="active item">
				<div class="hero-unit">
					<h1>Together</h1>
					<p>Together is defined as a platform for activity sharing. On it, users can create and lookup the interesting activities in which arbitrary users can participate.</p>
					<p><a class="btn btn-primary btn-large" href="#">Learn more</a></p>
				</div>
			</div>
		</div>
		<a class="carousel-control left" href="#index-carousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#index-carousel" data-slide="next">&rsaquo;</a>
	</div>
</div>
{% endblock %}

{% block bottomside %}
<div class="span11 container-fluid">
	<div class="span3 " style="margin-top:20px; border-right:1px solid #eee; padding-right:50px;">
		<h2 style="margin-bottom:10px; border-bottom:2px solid #eee;">Login</h2>
		{% include "common/form/login.html" %}
	</div>
	<div class="span4">
		<h2 style="margin-bottom:10px;"><small>New here?</small> Sign Up</h2>
		{% include "common/form/signup.html"%}
	</div>
</div>
{% endblock %}