{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block nav_right %}
	{% include "common/utils/nav_right_unlogged.html" %}
{% endblock %}

{% block topside %}
	
<div class="span5 offset1">
	
	{% if not confirm_notify %}
		<h2 style="margin-bottom:10px; border-bottom:1px solid #eee">Registration</h2>
		{% include "common/form/signup.html" %}
	{% else %}
		<h2 style="margin-bottom:10px; border-bottom:1px solid #eee">Email Confirm</h2>
		<div style="margin-top:20px;margin-bottom:100px;">
			Confirmation letter has been sent to <b>{{confirm_email}}</b>, 
			you need to click the confirmation link in the e-mail to complete the registration.
		</div>
	{% endif %}
</div>

{% endblock %}